.btn {
  border-radius: 0.375em;
  border: solid 2px #f56a6a;
  color: #f56a6a;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9em;
  font-weight: 700;
  height: 3.5em;
  letter-spacing: 0.075em;
  line-height: 3.5em;
  padding: 0 2.25em;
  text-align: center;
  text-decoration: none;
  background-color: #ffff;
}
